:root {
    --lighter-blue: #83C5BE;
    --darker-blue: #006D77;
    --nav-text: #F62681;
    --gradient: linear-gradient(#83C5BE, #006D77);
    --shadow: black 1px 0 10px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: var(--gradient);
    background-repeat: no-repeat;
}

h1 {
    color: var(--nav-text);
    font-weight: 750;
    text-shadow: var(--shadow);
    justify-self: flex-start;
    padding: 10px 12px 10px 30px;
    border-radius: 0px 8px 8px 0px;
    background-color: var(--lighter-blue);
}

h2 {
    display: block;
    color: var(--nav-text);
    text-shadow: var(--shadow);
    border-radius: 0px 8px 8px 0px;
    background-color: var(--darker-blue);
    width: 125px;
    padding-left: 12px;
    white-space: nowrap;
}

.navbar {
    background-color: var(--darker-blue);
    top: 0;
    width: 100%;
    min-height: 90px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.navbar a {
    flex: 0 0 auto;
    background-color: var(--lighter-blue);
    padding: 25px;
    min-width: 95px;
    text-decoration: none;
    font-weight: 600;
    font-size: large;
    border-radius: 8%;
    color: var(--nav-text);
    text-shadow: var(--shadow);
    transition: all .3s .1s;
}

.navbar a:hover {
    box-shadow: -8px 8px #0ff;
}

.list {
    display: inline-flex;
    position: relative;
    list-style: none;
    gap: 25px;
    padding-right: 20px;
    margin-bottom: 0px;
}

.portrait {
    background-color: var(--lighter-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    min-height: 30vh;
    width: auto;
}

.portrait div {
    display: flex;
    position: relative;
    padding-top: 20px;
    padding-left: 20px;
    border: 11px var(--darker-blue) solid;
    background-image: url("../images/orange-tile.png"), var(--gradient);
    background-blend-mode: luminosity;
    background-size: cover;
    background-position: center;
    flex: 0 0 auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.portrait div p {
    width: 70%;
    padding: 0px 8px 4px 20px;
    color: var(--nav-text);
    text-shadow: var(--shadow);
    border-radius: 12px;
    font-size: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.50));
    background-blend-mode: luminosity;
}

.portrait div img {
    border-radius: 8%;
    padding-bottom: 12px;
}

/* This is a container for the work items */
.content-container {
    display: flex;
    width: auto;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px;
    gap: 25px;
}

.content-item {
    position: relative;
    display: flex;
    width: 32%;
    flex: 0 0 auto;
    border-radius: 80px 30px 80px 30px;
    min-height: 200px;
}

.content-item:hover {
    box-shadow: 0px 8px 30px 10px #F62681;
}

.link {
    position: absolute;
    bottom: -20px;
    left: 16px;
    color: var(--nav-text);
    text-decoration: none;
    text-shadow: var(--shadow);
    font-size: 30px;
    padding: 10px;
    background-color: var(--lighter-blue);
    border: 3px var(--darker-blue) solid;
    border-radius: 12px;
}

.first-item {
    min-height: 300px;
    width: 75%;
}

h3 {
    display: block;
    color: var(--nav-text);
    text-shadow: var(--shadow);
    border-radius: 0px 8px 8px 0px;
    background-color: var(--lighter-blue);
    width: 125px;
    padding: 12px 12px 12px 30px;
    white-space: nowrap;
}

.contact-me {
    background-color: var(--darker-blue);
    top: 0;
    width: 100%;
    min-height: 55px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.contact-me a {
    flex: 0 0 auto;
    background-color: var(--lighter-blue);
    padding: 16px 25px 32px 25px;
    min-width: 95px;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: large;
    border-radius: 12px 12px 0px 0px;
    color: var(--nav-text);
    text-shadow: var(--shadow);
    transition: all .3s .1s;
}

.contact-me a:hover {
    box-shadow: 0px 8px 30px 10px #F62681;
}

.study {
    background-image: url("../images/study.png");
    background-size: 100%;
    background-position: center;
}

.refactor {
    background-image: url("../images/horiseon-r.png");
    background-size: 60%;
    background-position: bottom;
}

.magnifi {
    background-image: url("../images/magnifi.png");
    background-size: cover;
    background-position: center;
}

.meow {
    background-image: url("../images/nyan-cat.png");
    background-size: cover;
    background-position: center;
}

/* Dynamically resizes elements for medium screens */
@media screen and (max-width: 980px) {
    .portrait div {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .portrait div p{
        position: relative;
        max-width: 350px;
        left: auto;
        right: auto;
    }
  }

/* Dynamically resizes elements for small screens */
@media screen and (max-width: 768px) {
    h1, h3 {
        display: none;
    }

    .navbar, .contact-me {
        justify-content: center;
        white-space: nowrap;
    }

    .content-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content-item {
        width: 75%;
    }

    .first-item {
        min-height: 200px;
    }

    .contact-me a {
        padding: 16px 25px 19px 25px;
    }
  }
